body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style */

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  color: #333;
  background-image: url("img/3.png");
}

.container {
  width: 800px;
  margin: auto;
  background-color: white;
}

.header {
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: #1e3f54;
  padding: 3px;
}

.header a:hover {
  background-color: #a4a4a4;
  color: white;
}

.hero {
  height: 280px;
  background-image: url("img/33.png");
  background-clip: cover;
  background-position: 0 -180px;
  border-bottom: 5px solid #ef9007;
  border-top: 5px solid #45bcee;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.content .penulis a {
  color: #f6d317;
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.sumber:hover {
  background-color: #ef9007;
}

.footer {
  background-color: #1e3f54;
  padding: 10px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
}
